<div class="container">
	<%= flash[:notice] %>
	<%= render 'books/list', book: @book, user: current_user%>
	<div class="col-lg-9">
		<h2>Book detail</h2>
		<table class="table">
			<tbody>
				<tr>
					<td><%= attachment_image_tag @book.user, :profile_image, :fill, 30, 30, class: "pull-left profile-thumb", fallback: "no_image.jpg", size:6*6%></td>
					<td><%= @book_date.title %></td>
					<td><%= @book_date.body %></td>
					<td><% if @book_date.user == current_user %>
						<%= link_to edit_book_path(@book_date) do %>
							<span class="btn-sm btn-success">edit</span>
						</td>
						<% end %>
						<% end %>
					<td><% if @book_date.user == current_user %>
						<%= link_to book_path(@book_date), method: :delete do %>
						<span class="btn-sm btn-danger">Destroy</span>
						<% end %>
						<% end %>
				    </td>
				</tr>
			</tbody>
		</table>
	</div>
</div>